.search_box{
    width:100%;
    height: 70px;
    z-index: 1;
    background: rgba(190,190,190,0.3);
    border-radius: 50px;
    /*position: absolute;*/
    /*top:300px;*/
    /*left:50%;*/
    /*transform: translate(-50%);*/
}

.search_form_button {
    width: 150px;
    height:50px;
    border-radius: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    background: linear-gradient(to right, #5c7c92, #304c70);
}

.header_user {
    width:70%;
}

